<div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    {{ user.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                    @{{ user.username }}
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ user.following.all.count }} <br />
                                            Подписан: {{ user.follower.all.count }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                Записей:{{ paginator.count }}
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>